/* ================================= 
  Variables and Mixins
==================================== */


$light-gray: #eeeeee;
$dark-gray: #333333;
$mobile-size: 363px;
$tablet-size: 768px;
$desktop-size: 1024px; 


@mixin color {
    background-image: linear-gradient(135deg, rgb(0, 195, 255), rgb(240, 30, 170));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

@mixin color-reverse {
    background-image: linear-gradient(135deg, rgb(240, 30, 170), rgb(0, 195, 255));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

@mixin header-style {
    display: flex;
    margin: 0;
    padding: 50px 0;
    .title1, .title2 {
        margin: auto;
        padding: 16px;
        font-family: "Roboto Slab", serif;
        font-size: 40px;
    }
}

@mixin mobile {
    @media screen and (min-width: $mobile-size) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: $tablet-size) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-size) {
        @content;
    }
}
